<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- паттерн вывода -->
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- вывод в консоль -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- вывод в файл -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory> <!-- хранить 30 дней -->
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- уровень для вашего пакета -->
    <logger name="org.example.mtsroutingproject" level="DEBUG"/>

    <!-- уровень для Flyway -->
    <logger name="org.flywaydb" level="INFO"/>

    <!-- уровень для Hibernate SQL -->
    <logger name="org.hibernate.SQL" level="DEBUG"/>

    <!-- корневой уровень -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>